apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100 # prevent the scheduler from locating two pods on the same node
            podAffinityTerm:
              topologyKey: kubernetes.io/hostname
              labelSelector:
                matchExpressions:
                  - key: "app"
                    operator: In
                    values:
                    - frontend
      volumes:
      - name: html
        emptyDir: {}
      - name: nginx-global-config
        configMap:
          name: nginx-global-config
      initContainers:
      - name: static-files
        image: asia.gcr.io/vinta-254817/static-files:0ae599a # https://hub.docker.com/_/busybox
        command: ["cp", "-a", "/var/www/.", "/usr/share/nginx/html/"]
        volumeMounts:
        - name: html
          mountPath: /usr/share/nginx/html
      containers:
      - name: nginx
        image: nginx:1.17.5-alpine # https://hub.docker.com/_/nginx
        volumeMounts:
        - name: nginx-global-config
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
          readOnly: true
        - name: nginx-global-config
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: vinta-ws.conf
          readOnly: true
        - name: html
          mountPath: /usr/share/nginx/html
          readOnly: true
        ports:
        - name: http
          containerPort: 80
        resources:
          requests:
            cpu: 50m
            memory: 100Mi
          limits:
            cpu: 100m
            memory: 100Mi
